extends defaults/layout.pug
include defaults/mixins.pug
block content
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#FFFFFF")
        tr 
            td(width="650")
                +picture(true, 'top.jpg', '650')
    
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#000000")
        tr 
            td(width="18" bgcolor="#000000")
            td(width="614")
                +picture(true, 'ramka.png', '614')
            td(width="18" bgcolor="#000000")
    
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#FFFFFF")
        tr 
            td(width="18" bgcolor="#000000")
            td(width="614")
                a(href="https://www.campus.sanofi/pl" target="blank")
                    +picture(true, 'button.png', '614')
            td(width="18" bgcolor="#000000")

    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#302c2c")
        tr 
            td(width="18" bgcolor="#000000")
            td(width="20" bgcolor="#302c2c")
            td(width="574" style="color: white; font-family: Arial, sans-serif; font-size: 7.5px; line-height: 9px;") * Obwieszczenie Ministra Zdrowia z dnia 18 września 2024 r. w sprawie wykazu refundowanych leków, środków spożywczych specjalnego przeznaczenia żywieniowego oraz wyrobów medycznych na 1 października 2024 r. Cena detaliczna szczepionki Efluelda Tetra: 163,34 zł, wysokość dopłaty pacjenta objętego refundacją: 81,67 zł.
            td(width="20" bgcolor="#302c2c")
            td(width="18" bgcolor="#000000")

    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#302c2c")
        tr
            td(width="18" bgcolor="#000000")
            td(height="10") 
            td(width="18" bgcolor="#000000")
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#302c2c")
        tr 
            td(width="18" bgcolor="#000000")
            td(width="20" bgcolor="#302c2c")
            td(width="574" style="color: white; font-family: Arial, sans-serif; font-size: 7.5px; line-height: 9px;") <b>Referencje: 1.</b> Charakterystyka Produktu Leczniczego Efluelda Tetra 06.2024. 2. DiazGranados CA, Dunning AJ, Kimmel M, et al. Efficacy of high-dose versus standard-<br>dose influenza vaccine in older adults. N Engl J Med. 2014;371(7):635-645.doi:10.1056/NEJMoa1315727. 3. Lee JKH, Lam GKL, Yin JK, Loiacono MM, Samson SI. High-<br>dose influenza vaccine in older adults by age and seasonal characteristics: systematic review and meta-analysis update. Vaccine. 2023. Published online June 5,&nbsp;2023. doi:10.1016/j.jvacx.2023.100327.
            td(width="20" bgcolor="#302c2c")
            td(width="18" bgcolor="#000000")
        tr
            td(width="18" bgcolor="#000000")
            td(width="20" bgcolor="#302c2c")
            td(width="574" height="4") 
            td(width="20" bgcolor="#302c2c")
            td(width="18" bgcolor="#000000")

    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#000000")
        tr 
            td(width="18" bgcolor="#000000")
            td(width="614")
                +picture(true, 'ramk_dol.png', '614')
            td(width="18" bgcolor="#000000")

    
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#000000")
        tr 
            td(height="27")
    
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#000000")
        tr 
            td(width="38")
            td(width="271")
                a(href="https://dev.sparkwarsaw.pl/sil-manager/preview/2y13ajNN9sYeG5jUJHWzOo3u5rr6vkUlCRSICxResA9yvojFXBrC" target="blank")
                    +picture(true, 'button2.png', '271')
            td(width="170")
            td(width="144")
                +picture(true, 'logo_white.png', '144')
            td(width="27")

    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#000000")
        tr 
            td(height="27")

    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#508c44")
        tr
            td(height="7")
            td
        tr 
            td(width="36")
            td(width="614" style='font-family:ArialMT,Helvetica,sans-serif; font-size:8px; text-align:left; color:#FFFFFF')
                span MAT-PL-2402103-1.0-10/2024
    
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#508c44")
        tr
            td(height="7" bgcolor="#508c44")
            td

    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#F5F5F5")
        tr 
            td
                +survey()
    
    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#F5F5F5")
        tr 
            td
                +sanofiB()
