doctype html
html
    head
        title RTE_NAME
        meta(charset="utf-8")
        link(href="../sass/email.scss" rel="stylesheet")
    body
        <!--[if (gte mso 9)(IE)]><center><table><tr><td width="650"><![endif]-->
        table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto")
            tr
                td
                    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" )
                        tr
                            td(width="30" height="10")
                            td(style="font-family: Arial, Helvetica, sans-serif;text-align: justify; font-size:12px; font-weight: normal; color: #ffffff;") RTE_PREHEADER
                            td(width="30")
                        tr(bgcolor="#000000")
                            block content

                    table(width="650" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto" bgcolor="#ffffff")
                        tr
                            td(width="30" height="10")
                            td(style="font-family: Arial, Helvetica, sans-serif;text-align: justify; font-size:12px; font-weight: normal; color: #ffffff;")
                                block footer
                            td(width="30")

        <!--[if mso]></td></tr></table></center><![endif]-->
